.pagination{

    padding-left: 800px;

}


.breadcrumb{

    font-weight: bold;
    font-size: 30px;
}


.asd{
    padding-right: 15px;
    font-weight: bold;
}

.countt{
    padding-left: 450px;
    font-size: 15px;

}

.form-group{
    font-size: 15px;
    
    }