<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 sidebar fixed-top ">
                <br><br><br>
                <ul class="navbar-nav d-flex flex-column justify-content-between mt-5">
                    <li class="nav-item" >
                            
                        <a  class="nav-link p-3  mb-2    sidebar-link" routerLink="/dashboard" routerLinkActive="active current" ><i class="fa fa-dashboard"></i>&nbsp; Dashboard</a>
                    </li>

                    <li class="nav-item">
                            <a class="nav-link p-3  mb-2  sidebar-link " routerLink="/viewappointment" routerLinkActive="active current"><i class="fa fa-edit"></i>&nbsp;Appointment </a>             
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-3  mb-2  sidebar-link " routerLink="/viewpatient" routerLinkActive="active current"><i class="fa fa-user"></i>&nbsp;Patient </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-3  mb-2  sidebar-link " routerLink="/viewdoctor" routerLinkActive="active current"><i class="fa fa-stethoscope"></i>&nbsp;Doctor </a>
                    </li>

                    

                    <li class="nav-item">
                        <a class="nav-link p-3  mb-2  sidebar-link " routerLink="/viewpayment" routerLinkActive="active current"><i class="fa fa-money"></i>&nbsp;Payment </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-3  mb-2  sidebar-link "  routerLink="/viewreport" routerLinkActive="active current"><i class="fa fa-hospital-o"></i>&nbsp;Manage Report </a>
                    </li>

            
                </ul>
            </div>
          
            <nav class="navbar navbar-expand-lg col-12 ml-auto fixed-top py-2 header">
                <a class="navbar-brand "  routerLink="/dashboard">
                    <!-- <img src="C:\Users\JOSH-KATH\Pictures\jane.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                    Dental Clinic Appointment
                </a>
                
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
            
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->

 

</nav>