.form-group{
font-size: 15px;

}

.asd{
    padding-right: 15px;
    font-weight: bold;
}

// .form-inline{
//     padding-left: 15px;
// }

.breadcrumb{

    font-weight: bold;
    font-size: 30px;
}
