<app-navbar></app-navbar>

<div class="container-fluid  ml-5 mt-5">
    <div class="row mt-5 ml-5 ">
        <div class="col-lg-12 mt-1 ml-3 content">
            <div class="container  ml-5 med">
              <div class="col-lg-12 ml-4">
              <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-info-circle"></i>&nbsp;Admin Dashboard</li>
                </ol>
                
              </div>
            </div>

            <button type="button" class="btn btn-primary q ml-5"  routerLink="/viewappointment"><i class="fa fa-list-alt"></i>&nbsp;<br>Appointment</button>
            <button type="button" class="btn  w ml-5" routerLink="/viewdoctor"><i class="fa fa-plus"></i>&nbsp;<br>Doctor </button>
            <button type="button" class="btn  e ml-5"  routerLink="/viewpatient"><i class="fa fa-list-alt"></i>&nbsp;<br>Patient</button>
            <button type="button" class="btn  r ml-5" routerLink="/addpayment"><i class="fa fa-plus"></i>&nbsp;<br>Payment</button>
    </div>
    </div>

            

    <div class="row justify-content-left ml-5 mt-3">
        <div class="col-lg-7 ml-4 mt-1">
            <div class="card  border-1 rounded-lg ml-5 mt-1">
                <div class=" card-body ">
                    <form action="" class="form-group p-4 bg-light ">
                        <full-calendar
                            defaultView="dayGridMonth"
                            [plugins]="calendarPlugins"
                            [weekends]="true"
                            
                        ></full-calendar>
                    </form>
                </div>
            </div>
        </div>
    </div>      





